body {
  font-family: 'Acme', sans-serif;
  font-family: 'Marvel', sans-serif;
  font-size: 16px;
}
.bg-primary {
  background-color: #344b7b!important;
}
.hero {
  background-image: url('../img/bg_hero_bf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  padding-top: 12rem!important;
}
.display-mobile {
  font-size: 40px;
}
.border-top {
  border-width:3px !important;
  margin: 0px auto;
}
